h1, h2, h3, h4, h5, h6
  margin-top: 1.5rem

  &:first-child
    margin-top: 0

h1
  font-size: responsive 22px 36px
  font-range: 420px 1600px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.3
  text-transform: uppercase

h2
  font-size: responsive 20px 32px
  font-range: 420px 1600px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.3
  text-transform: uppercase

// h3
//   font-size: responsive 24px 30px
//   font-range: 420px 1600px
//   font-weight: 400
//   line-height: 1.3
//   text-transform: uppercase

// h4
//   font-size: responsive 20px 24px
//   font-range: 420px 1600px
//   font-weight: 700
//   line-height: 1.5

// h5
//   font-size: 18px
//   font-weight: 700

// h6
//   font-size: 16px
//   font-weight: 700
//   line-height: 1.5

p
  margin-top: 1.5rem
  color: inherit
  font-size: 15px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.5

  +breakpoint(large)
    font-size: 16px

  &:first-child
    margin-top: 0

ul
  margin-top: 1.5rem
  margin-bottom: 0

  &:first-child
    margin-top: 0

li
  margin-top: 0.5rem
  color: inherit
  font-size: 15px
  font-weight: 400
  letter-spacing: 0.01em
  line-height: 1.5

  +breakpoint(large)
    font-size: 16px

  &:first-child
    margin-top: 0

a
  text-decoration: underline
  transition: color 0.3s ease-out-cubic

  &:hover
    color: black

strong
  color: inherit

hr
  height: 2px
  margin: 2rem 0
  background: $light-gray
  outline: none
  border: none
