#footer 
  padding-bottom: 3rem
  
.home 
  .footer
  
.footer
  background: #F7F3ED
  padding: 2rem 0
  margin-top: 0
  position: relative

  .footer__info 

    +breakpoint (xlarge down) 
      margin-bottom: 30px

.m_copyright 
  display: none

  +breakpoint (xlarge down) 
    display: block

.copyright 
  @include breakpoint (medium down) 
    text-align: center

.footer-logo 
  margin-right: 40px

.footer__text
  margin-bottom: 2rem
  line-height: 1.5
  text-transform: uppercase
  font-size: 16px
  font-weight: 100
  -webkit-font-smoothing: auto

  +breakpoint (small only) 
    margin-bottom: 16px

  .inner 
    display: flex
    justify-content: center

    +breakpoint (medium down)
      flex-direction: column

    .address2
      margin-bottom: 24px

    .phone,
    .chat,
    .apply 
      margin-bottom: 5px

    .phone 
      a 
        color: #ffffff
        text-decoration: none
        cursor: pointer

  .comma
    margin-right: 1rem

    +breakpoint(medium down)
      display: none

  .divider 
    margin: 0 1rem

    +breakpoint(medium down)
      display: none

  br
    display: block

    +breakpoint(medium)
      display: none

.footer__copyright
  font-size: 12px

  +breakpoint (xlarge down) 
    display: none

  +breakpoint (small only) 
    text-align: center

  a
    color: inherit
    text-decoration: none

  span
    margin: 0 0.5rem

.m_copyright 
  .footer__copyright 
    +breakpoint (xlarge down) 
      display: block

.footer__icons
  width: 75%
  max-width: 500px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin-top: 2rem

  +breakpoint(large)
    margin-top: 0

  a
    margin: 0 1rem 1.5rem

    +breakpoint(large)
      margin-bottom: 0

    +breakpoint(small only) 
      margin: 0 0 1.5rem

    &:first-child img
      margin-left: 0

  img 
    max-width: 90% !important

.footer__icon-p
  max-width: 112px

.footer__icon-r
  max-width: 112px

.footer__icon-pets
  max-width: 43px

.footer__icon-f
  max-width: 48px
