.header
  
  position: absolute
  transition: 2s opacity linear

  &:before
    width: 100%
    height: 100% 
    position: absolute
    background: #d0cbc5
    opacity: 0

    &.bg-beige 
      opacity: 1

  width: 100%

  .grid-container 
    .grid-x
      position: relative
      top: 0
      width: 100%
      height: 100px
      padding: 0
      z-index: 9999
      border-bottom: 1px solid #fff

      +breakpoint (medium down) 
        border: 0

      .header-logo
        display: flex
        justify-content: center
        align-items: center
        //border-left: 1px solid #fff 
        //border-right: 1px solid #fff

        +breakpoint (medium down) 
          border-left: 0
          border-right: 0

        img 
          max-width: none 
          height: 50px

          +breakpoint (large down) 
            height: 30px

      .header-logo,
      .header-left,
      .header-right 
        height: 100%

      .header-right 
        
        display: flex
        justify-content: flex-end
        align-items: center

        .menu-expanded-navigation-hamburger-container

          height: 100%

          +breakpoint (medium down) 
            width: 100%

          ul 

            height: 100%
            text-align: center
            list-style: none 

            li 
              height: 100%

              a 
                height: 100%
                line-height: 70px
                padding: 0 70px
                font-size: 12px
                color: #fff
                text-decoration: none
                text-transform: uppercase

                +breakpoint (medium down) 
                  padding: 0

