.box-image
  display: flex
  position: relative
  justify-content: center 
  align-content: flex-end
  padding: 5% 0 0 0 
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  transition: .5s all ease-in-out
  -webkit-transition: .5s all ease-in-out
  cursor: pointer
  min-height: 500px

  &:hover,
  &:focus,
     
    .box-image-inner 
      background-position: 450px top

      @media (max-width: 2100px) 
        background-position: 400px top

      @media (max-width: 1920px) 
        background-position: 360px top

      @media (max-width: 1600px) 
        background-position: 300px top

      @media (max-width: 1440px) and (orientation: landscape)
        background-position: 250px top

      @media (max-width: 1440px) and (orientation: portrait)
        background-position: 200px top

      @media (max-width: 1200px) and (orientation: landscape) 
        background-position: 250px top 

      @media (max-width: 1200px) and (orientation: portrait) 
        background-position: 200px top

      @media (max-width: 1023px) and (orientation: landscape)
        background-position: 200px top

      @media (max-width: 1023px) and (orientation: portrait)
        background-position: 300px top

      @media (max-width: 880px) and (orientation: landscape) 
        background-position: 300px top 

      @media (max-width: 880px) and (orientation: portrait) 
        background-position: 150px top 

      .box-content

        h3
          position: absolute
          top: -15px

          +breakpoint (medium) 
            top: -30px 
          
          +breakpoint (xlarge) 
            top: -50px 
        p 
          opacity: 1

    .arrow
      -webkit-transform: rotate(180deg)
      transform: rotate(180deg)   

  .box-content     

    max-width: 70%
    position: absolute
    left: -15%
    bottom: 12% 

    +breakpoint (medium down) 
      bottom: 15%

    h3 

      position: absolute
      top: 90%
      transition: .5s all ease-in-out
      -webkit-transition: .5s all ease-in-out
      font-family: $font-sans
      font-size: 3vmax
      font-weight: 500
      color: #fff 
      text-transform: uppercase

      +breakpoint (large) 
        top: 70%

    p 
      color: #fff
      opacity: 0
      transition: .5s all ease-in-out
      transition-delay: .25s
      margin-top: rem-calc( 30px )

  .arrow
    content: ''
    width: 21px
    height: 16px
    position: absolute
    bottom: 6%
    left: -15%
    background: url(/wp-content/uploads/2020/02/arrow.png)
    transition: 0.4s all ease-in-out
    -webkit-transition: 0.4s all ease-in-out
    display: flex
    justify-content: center
    -ms-flex-align: center
    -webkit-align-items: center
    -webkit-box-align: center
    align-items: center

    &:hover:after
      -webkit-transform: rotate(180deg)
      -webkit-transform-origin: center center

  .box-image-inner 
    width: 60%
    position: relative
    background-position: left top 
    background-repeat: no-repeat
    background-size: cover
    transition: .5s all ease-in-out

  .box-image-hidden
    width: 100%
    visibility: hidden
    opacity: 0
    object-fit: cover
    font-family: 'object-fit: cover;'

.residences 
  background-color: #d0cbc5

.amenities 
  background-color: #4b4542
