.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 1em 3em
  // border-top: 2px solid transparent
  // border-left: 0
  // border-right: 0
  // border-bottom: 1px solid #A59E93
  border: none
  border-radius: 0
  background: $red
  color: $off-white
  font-size: rem-calc(14px)
  font-weight: 400
  text-decoration: none
  text-transform: capitalize
  transition: background 0.3s $easing, opacity 0.3s $easing
  cursor: pointer
  opacity: 0.8
  text-decoration: none !important
  
  &:hover
    opacity: 0.9
    background: $bronze
  &:focus
    opacity: 1

  &.button__small 
    width: 200px
    padding-left: 0
    padding-right: 0

  +breakpoint(medium)
    font-size: 16px

  &:hover
    
    color: white

  .icon
    width: 12px
    height: 12px
    display: inline-block
    vertical-align: middle
    margin-right: rem-calc(16px)

.hero__link 
  &.view-gallery
    
    margin-left: 30px

    +breakpoint (small only) 
      margin-left: 0
      margin-bottom: 10px
      margin-top: 0

.hero__link 
  &.email-me 
  
    +breakpoint (small only) 
      margin-bottom: 10px
      margin-top: 0
