.fp-filter
    justify-content: flex-start !important
    li
        margin: 0 rem-calc(20px)
        a
            padding: 0 .5rem
            &.mixitup-control-active
                color: $black
                border-bottom: 1px solid $black
.fp-wrapper
    border-bottom: 1px solid $bronze
    background-color: white
.floor-plan-units
    padding: rem-calc(80px)
    background-color: white
    
    .fp-details
        padding: 1rem 0
        +breakpoint( medium )
            display: flex
            justify-content: space-evenly
        div
            
            +breakpoint( medium )
                width: 15%
            p
                color: $black
                font-size: rem-calc( 15px )
            
        .fp-name
            width: 140px
            h4
                text-transform: uppercase
                font-size: rem-calc(20px)
                color: $bronze
        .fp-price
            width: 20%
        .fp-btn
            text-align: center
            +breakpoint( medium ) 
                text-align: right
                width: 220px
            .button
                padding: rem-calc(12px) 0
                width: 100%
                max-width: 200px
                &.is-active
                    background-color: $bronze
            .fw-cta-button
                display: none !important
            

    .fp-fullview
        display: flex
        justify-content: space-between
        align-items: center
        
        
        height: 0
        padding: 0
        overflow: hidden
        
        transition: all .5s $easing
        &.expand
            height: auto
            padding: 20px
        
        h3
            color: $bronze
            font-size: rem-calc( 32px )
        p:first-of-type
            margin-top: 0
        .button
            padding-left: 0
            padding-right: 0
            width: 192px
        .fp-fullview--name
            max-with: 200px
        .fp-fullview--image
            max-width: 600px