.search-form
  margin: 3rem 0
  position: relative
  input[type="text"] 
    padding: 1rem 1rem 0.75rem !important
    border: none
    border-radius: 0
    background: transparent
    color: $gray
    font-family: $font-sans
    font-size: rem-calc(15px) !important
    font-weight: 400 !important
    outline: 0
    box-shadow: none
    border-bottom: 1px solid $gray
    width: 100%
    max-width: 300px
  .input-placeholder
    position: absolute
    top: 0
    left: 0
    font-size: rem-calc(12px)
.form .gform_wrapper
  .gform_fields
    list-style: none
    margin: 0
    paadding: 0
  .gform_body
    
    +breakpoint (medium down) 
      width: 100%

  .input-placeholder 
    position: absolute
    top: -20%
    transform: translateY(-50%)
    color: #a59e93

  .gfield_label
    position: absolute

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type="number"],
  select,
  textarea
    padding: 1rem 1rem 0.75rem !important
    border: none
    border-radius: 0
    background: transparent
    color: $gray
    font-family: $font-sans
    font-size: rem-calc(15px) !important
    font-weight: 400 !important
    outline: 0
    box-shadow: none
    border-bottom: 1px solid $gray
    width: 100%

  // Error Handling

  // .gfield_error
  //   padding: 0 !important
  //   border-top: none !important
  //   border-bottom: none !important
  //   margin-top: 0 !important
  //   margin-bottom: 0 !important
  //   background-color: transparent !important

  //   input[type='text'],
  //   input[type='email'],
  //   input[type='tel'],
  //   textarea
  //     background-color: transparent !important

  .gfield_required
    display: none

  .validation_error
    display: none 
.gfield_visibility_hidden
  display: none
.gform_confirmation_message
  color: $off-white
  font-size: rem-calc(18px)
select
  appearance: none
  position: relative
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") !important
  background-position: center right !important
  background-repeat: no-repeat !important
  cursor: pointer
  
  
.ui-datepicker
  background: white
  padding: 1rem
  .ui-datepicker-header
    margin-bottom: 4px
    position: relative
    margin-bottom: 8px
    .ui-datepicker-title 
      text-align: center
      select
        border: none
        padding: 4px 16px 4px 2px
    .ui-datepicker-prev,
    .ui-datepicker-next
      position: absolute
      top: 0
      left: 0;
      font-size: rem-calc(10px)
    .ui-datepicker-next
      left: auto
      right: 0
  .ui-datepicker-calendar
    border-collapse: collapse
    td
      // padding: 5px
      text-align: right
      border: 1px solid $gray
      a
        font-size: rem-calc( 14px)
        display: block
        padding: 8px
.gform_button.button  
  background-color: transparent
  border-bottom: 1px solid $gray
  color: $gray
  font-size: rem-calc(15px)
  width: 150px
  position: relative
  transition: all $speed $easing
  &:hover,
  &:focus
    color: $off-white
    border-bottom-color: $off-white
    padding-left: 4rem
  .arrow
    position: absolute
    top: 17px
    left: 8px
    transition: all $speed $easing
    stroke: $gray
  &:hover .arrow
    stroke: $off-white
    left: 40px
  
  
    

.gf_simple_horizontal
  display: flex
  justify-content: center
  align-items: flex-start
  flex-wrap: wrap
  .gform_body
    width: 100%
    max-width: rem-calc(720px)
    .gform_fields
      display: flex
      justify-content: center
      align-items: flex-start
      flex-wrap: wrap
      li
        position: relative
        margin-top: 1.5rem
        width: 100%
        +breakpoint(large)
          //max-width: 320px
          flex: 0 1 200px
          // padding: 0 0 0 24px
          margin: 0 16px
          .gfield_label
            color: $gray
            font-size: rem-calc(12px)
            position: absolute
            top: 16px
            left: 16px
            opacity: 0
            z-index: -1
            transition: all $easing $speed
            &.show-my-label
              opacity: 1
              z-index: 2
              top: -8px
              left: 0
        input:focus::placeholder,select:focus::placeholder
          color: transparent !important
  .gform_footer
    margin-top: 1rem
    +breakpoint(large)
      margin-top: 0
      padding-left: 24px
        
.gfield.gform_validation_container
  position: absolute !important
  top: -9999px !important
  left: -9999px !important

#gform_2
  flex-direction: column
  align-items: center
  .gform_body
    .gform_fields li
      margin-bottom: rem-calc(36px)
      &#field_2_6
        flex-basis: 670px
  .gform_footer
    padding-left: 0