.location-map
  position: relative
  &.offset-map
    +breakpoint( large )
      top: -150px
.mapHolder
  // position: relative
  // padding-bottom: 56.25%
  // padding-top: 25px
  // height: 0

  .select
    color: #fff
    cursor: pointer
    display: inline-block
    position: absolute
    font: normal 11px/22px Arial, Sans-Serif
    color: black
    border: 1px solid #ccc
    top: 50px
    left: 50px

    select 
      position: absolute
      top: 0
      left: 0
      box-shadow: none
      -webkit-appearance: none
      outline: 0
      background: #b56d41

    .options
      display: none
      position: absolute
      top: 100%
      right: 0
      left: 0
      z-index: 999
      margin: 0 0
      padding: 10px 0 0 0
      list-style: none
      border: 1px solid #ccc
      background-color: white
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)

    .options 
      li
        padding: 0 6px
        margin: 0 0
        padding: 0 10px
        font-weight: bold
        font-size: 16px
        text-transform: uppercase
        height: 30px
        line-height: 30px

        &:hover
          background-color: #f0f0f0
          color: #000

    .s-hidden
      visibility: hidden
      padding-right: 10px

    .styledSelect
      width: 260px
      height: 45px
      position:absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: #b56d41
      padding: 0 10px
      font-weight: bold
      font-size: 16px
      color: #fff
      text-transform: uppercase
      line-height: 45px


      &:after
        content: '\2193'
        width: 0
        height: 0
        position: absolute
        right: 10%
        transform: translateY(-5%)

      &:active, 
      &.active
        background-color: #b56d41

  #location-map
    width: 100%
    height: 700px
    
    .infowindow
      h4 
        font-size: 18px 
        margin-bottom: 5px

      p 
        margin-top: 0
        color: $light-black

  #map
    width: 100%
    height: 400px

    @media (max-width: 1366px)
      height: 500px
      padding: 0 20px

    @media (max-width: 1023px)
      height: 500px
      padding: 0 20px

    @media (max-width: 640px)
      height: 300px
      padding: 0 20px

.mapHolder iframe 
  @media (max-width: 640px)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

#gmap 
  width: 100%
  height: 400px
  padding: 0 !important
  &.small-map
    width: 460px
    height: 301px
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #fff
    display: flex
    flex-direction: column
    justify-content: center