#hero 
  padding-top: 0
  padding-bottom: 0
  
.hero
  position: relative
.hero-box
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50vh !important;
  justify-content: center;
  background-size: cover;
  +breakpoint( large )
    height: 100vh !important
  
  
.hero-content
  // position: absolute
  // top: 50%
  // left: 50%
  // z-index: 10
  // transform: translate(-50%, -50%)
  position: relative
  z-index: 10
  width: 100%
  text-align: center

.hero-title
  color: white
  font-size: rem-calc(30px)
  margin-bottom: rem-calc(20px)
  letter-spacing: 4px 
  line-height: 1

  +breakpoint(medium)
    font-size: rem-calc(44px)
    margin-bottom: rem-calc(10px)
    letter-spacing: 2px
    
  +breakpoint( large )
    font-size: rem-calc(60px)
    
  +breakpoint( xlarge )
    font-size: rem-calc(80px)
    margin-bottom: rem-calc(40px)

.hero-subtitle 
  font-family: $font-serif
  color: white 
  font-size: 18px 
  text-transform: uppercase
  letter-spacing: 3px

  +breakpoint (medium down) 
    letter-spacing: 2px

.hero__link
  display: inline-block
  margin-top: 2rem
  background-color: #A53A24
  color: #fff
  border: 0
  font-size: 1.15rem

.hero-image
  width: 100%

.hero-video
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  z-index: 9
  .video--hero
    display: none
    width: 100%
    height: auto
    +breakpoint( large )
      display: block
  .video-alt
    height: 100%
    overflow: hidden
      
    +breakpoint( large )
      display: none