.iframe-block-container
  width: 100%
  position: relative
  height: 1000px
  +breakpoint(medium)
    padding-bottom: 56.25%
    height: 0
    
  iframe
    border: 0
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute