.image-grid
  
  max-width: 1196px
  margin: auto
  
  .cell
    padding: rem-calc(12px)
    position: relative
    img
      transition: opacity $speed $easing
      &:hover
        opacity: .85
    .play-icon
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      svg
        transition: all $speed $easing
    &:hover 
      .play-icon 
        svg
          transform: scale(1.15)