section
  &.section 
    &.image-carousel 
      padding-top: 40px
      padding-bottom: 40px
  
.slick-slide
  margin: 0 20px
  height: auto !important

.slick-list
  margin: 0 -20px

  .slick-track 
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch

.slick-nav
  width: 100%
  position: absolute
  top: 50%
  transform: translateY(-50%)

.slick-nav
  .prev,
  .next
      width: 60px
      height: 45px
      background: #b56d41
      color: #ffffff
      font-size: 24px
      text-align: center
      line-height: 45px
      cursor: pointer

.slick-nav
  .prev 
    left: 1%
    position: absolute

.slick-nav 
  .next 
    right: 1%
    position: absolute
    
/* flickity */
.image-carousel 
  .cell
    position: relative
  .flickity-prev-next-button.previous.custom,
  .flickity-prev-next-button.next.custom
      font-family: $font-serif
      color: $red
      background: transparent
      border-radius: 0
      font-weight: 600
      transition: color $speed $easing
      &:hover
        color: $bronze
  .flickity-prev-next-button.previous.custom
      transform: rotate(-90deg) !important
  .flickity-prev-next-button.next.custom
      transform: rotate(90deg) !important
      
  .slider-stats
    padding: rem-calc(8px 0)
    font-size: responsive 14px 18px
    font-range: 420px 1600px
    font-weight: 600
    color: $gray
    font-family: $font-serif
.image-slider
  max-width: 952px
  margin: auto
  .carousel-cell
    width: 100%