.intro
    padding-top: 3rem
    +breakpoint(large)
        padding-top: 6rem
    h3 
        color: $gray
        font-size: rem-calc(24px) 
        font-family: $font-serif
        +breakpoint(large)
            font-size: rem-calc(48px) 
    
    
        
        