.filter-items
    margin: 0 0 2rem 0
    padding: 0
    list-style: none
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-content: center
    padding-top: rem-calc(16px)
    padding-bottom: rem-calc(16px)
    li 
        margin-top: 0 !important
        a
            font-family: $font-serif
            color: $red
            font-weight: 600
            text-decoration: none !important
            font-size: rem-calc(18px)
            &.is-active
                color: $light-black
                border-bottom: 1px solid $light-black