.nav-link
  // position: absolute
  // top: 50%
  // right: 5%
  // z-index: 10005
  // transform: translateY(-50%)
  overflow: hidden
  cursor: pointer
  display: inline-block
  vertical-align: middle
  // .is-open &
  //   top: -90%
  
  
.nav-link__outer
  position: relative
  width: 24px
  height: 20px

.nav-link__icon
  position: absolute
  top: 50%
  margin-top: -1px
  width: 100%
  height: 3px
  border-radius: 3px
  background: $gray
  transform-style: preserve-3d
  transition: all 0.5s ease-out-cubic
  +breakpoint( large )
    background: $white
  // .is-open &
  //   background: transparent
  //   transition: all 0.4s ease-out-cubic
  //   background: transparent
    
  &:before
    content: ''
    display: block
    position: absolute
    top: -8px
    height: 3px
    border-radius: 3px
    width: 100%
    background: $gray
    transform-style: preserve-3d
    transform: translateY(0) rotate(0)
    transition: all 0.5s ease-out-cubic
    
    +breakpoint( large )
      background: $white

    // .is-open &
    //   transform: translateY(7px) rotate(45deg)
    //   transition: all 0.4s ease-out-cubic 0.1s
    //   background: $gray

  &:after
    content: ''
    display: block
    position: absolute
    bottom: -8px
    height: 3px
    border-radius: 2px
    width: 100%
    background: $gray
    transform-style: preserve-3d
    transform: translateY(0) rotate(0)
    transition: all 0.5s ease-out-cubic
    +breakpoint( large )
      background: $white

    // .is-open &
    //   transform: translateY(-7px) rotate(-45deg)
    //   transition: all 0.4s ease-out-cubic 0.1s
    //   background: $gray

.nav-close-link
  overflow: hidden
  cursor: pointer
  display: inline-block
  vertical-align: middle
  
.nav-close-link__outer
  position: relative
  width: 30px
  height: 25px
  
.nav-close-link__icon
  position: absolute
  top: 50%
  margin-top: -1px
  width: 100%
  height: 3px
  border-radius: 3px
  background: transparent
  transform-style: preserve-3d
  &::before,
  &::after
    content: ''
    display: block
    position: absolute
    height: 3px
    border-radius: 2px
    width: 100%
    background: $gray
    transform-style: preserve-3d
    
  &::before
    top: -8px
    transform: translateY(8px) rotate(45deg)
  &::after
    bottom: -8px
    transform: translateY(-8px) rotate(-45deg)
