.header-nav 
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  
  #access 
    width: 100%

    +breakpoint (medium down)
      display: none

    ul 
      display: flex
      list-style: none

      li 
        margin: 0 20px

        &:hover
          border-bottom: 1px solid #fff

          a 
            color: #fff

        &:first-child 
          margin-left: 0

        &:last-child 
          margin-right: 0

        &.menu-right-auto
          margin-right: auto
        
        &.menu-right 
          margin-right: 0

          +breakpoint (large down) 
            margin-right: 4px

        a 
          color: #b56d41
          font-size: 15px
          text-decoration: none
          text-transform: uppercase

          &:hover 
            color: #fff

          +breakpoint (xlarge down) 
            font-size: 13px

          +breakpoint (large down) 
            font-size: 10px



  .header__logo 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 9999

#promo-bottom 
  width: 100%
  height: 50px
  background: #b56d41
  color: #ffffff
  margin-bottom: 3rem

  +breakpoint (medium down) 
    display: none

  .promo-nav 
    height: 100%

  ul 
    width: 100%
    height: 100%
    display: flex
    justify-content: flex-end
    align-items: center
    list-style: none

  li 
    margin-top: 0
    margin-right: 30px
    text-transform: uppercase
    font-size: 15px

    a 
      text-decoration: none
      color: #fff

.header__nav_offcanvas

  visibility: hidden 
  opacity: 0 
  height: 0

  #links 

    padding-top: 50px
    flex-direction: column
    align-items: center
    display: none

    +breakpoint (medium down) 
      justify-content: center

    @media (max-width: 1024px) and (orientation: landscape)
      padding-top: 0

    span 
      color: #fff 
      margin-bottom: 10px
      font-size: 16px
      text-decoration: none
      text-transform: uppercase
      font-weight: 100
      letter-spacing: 1px 
      transition: .3s all ease-in-out

      &:hover 
        color: #b56d41
      
      +breakpoint (medium down) 
        margin-right: 0
        font-size: 16px

    a 
      color: #fff
      margin-bottom: 30px
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 100
      cursor: pointer
      transition: .3s all ease-in-out

      @media (max-width: 1024px) and (orientation: landscape)
        margin: 0 20px

      @media (max-width: 1024px) and (orientation: portrait) 
        margin-right: 0

      &:hover 
        color: #b56d41

      +breakpoint (medium down) 
        margin-right: 0
        font-size: 18px
        margin-bottom: 10px

    .social 
      color: #fff

      .divider 

        @media (max-width: 1024px) and (orientation: landscape)
          display: none

      a 
        font-size: 16px
        margin-bottom: 30px
        line-height: 1

        +breakpoint (landscape medium down) 
          font-size: 20px

.is-open 
  .header__nav_offcanvas
    content: ''
    width: 100% 
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background: #000
    opacity: 1
    visibility: visible
    padding-top: 180px
    z-index: 9998

    +breakpoint (xlarge down)
      padding-top: 20%

    ul 
      flex-direction: column
      align-items: center
      list-style: none

      @media (max-width: 1024px) and (orientation: landscape)
        max-width: 90%
        margin: 0 auto
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: center
        flex-wrap: wrap
        font-size: 20px
        padding-top: 50px

      @media (max-width: 1024px) and (orientation: portrait) 
        padding-top: 100px

      +breakpoint (medium down) 
        flex-direction: row
        justify-content: center

      +breakpoint (small only) 
        padding-top: 50px

      li 
        text-align: center
        font-weight: 100
        margin-bottom: 24px

        @media (max-width: 1024px) and (orientation: landscape)
          margin-top: 0

        +breakpoint (small only) 
          margin-bottom: 16px

        a 
          font-size: 24px
          color: #fff
          text-transform: uppercase
          line-height: 1
          text-decoration: none

          +breakpoint (xlarge down) 
            font-size: 24px

          +breakpoint (medium down) 
            font-size: 24px

          @media (max-width: 1024px) and (orientation: landscape)
            font-size: 14px
            margin-right: 15px
            white-space: nowrap

          &:hover 
            color: #b56d41

  #links 
    display: flex

    @media (max-width: 1024px) and (orientation: landscape)
      flex-direction: row
      justify-content: center
      font-size: 20px

    @media (max-width: 1024px) and (orientation: portrait)
      flex-direction: column 
      align-items: center
      font-size: 20px

