.menu
  list-style: none
html.is-open
  overflow: hidden

#site-nav
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  // display: flex
  // flex-direction: column
  // align-content: center
  // justify-content: center
  background: $off-white2
  z-index: 10001
  .is-open &
    display: block
  .header-right
    text-align: right
  .grid-container:nth-child(2)
    position: relative
    top: 40%
    transform: translateY(-40%)
  .menu
    text-align: center
    li 
      a
        text-transform: uppercase
        text-decoration: none
        display: block
        padding: 4px
        color: $red
        font-size: rem-calc(36px)
        &:hover
          color: $bronze
    li.button 
      margin: 1rem 0
      +breakpoint( large )
        margin: 2rem 0
      a
        color: $off-white
        padding: 0
        font-size: 1rem;
      
  .connect-links
    text-align: center 
    padding-top: 1rem
    a 
      color: $light-black
      text-transform: uppercase
      display: block
      text-decoration: none
      padding: 8px
    &.social--links
      a
        display: inline-block
@media (max-height: 800px )
  #site-nav 
    .menu li 
      margin: 0
      &.button
        padding: .5rem 2rem
      a
        padding: 0
        font-size: rem-calc( 30px )
    .connect-links a
      padding: 4px
      //font-size: rem-calc( 14px )
@media (max-height: 600px )
  #site-nav 
    .menu li a
      font-size: rem-calc( 24px )