#promo-bar
  width: 100%
  z-index: 10000
  background: #fff
  position: relative
  background-color: $bronze
  
  #promo
    width: 85%
    margin: auto
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column
    padding: rem-calc(16 0)
    color: #ffffff
    +breakpoint( large )
      align-items: center
      width: 90%
      padding: rem-calc(30 0)

    .promo, .disclaimer
      margin: 0

    .promo 
      font-size: rem-calc(24px)
      text-transform: capitalize
      font-family: $font-sans
      font-weight: normal
      +breakpoint( xlarge)
        font-size: rem-calc( 32px )
      +breakpoint( xxlarge )
        font-size: rem-calc( 40px )

    .disclaimer
      font-size: 16px
      text-transform: uppercase
      font-family: $font-serif
      margin-top: .5rem

  .promo__close
    width: 40px
    height: 40px
    position: absolute
    top: 50%
    right: 40px
    transform: translateY(-50%)
    cursor: pointer

    @media (max-width: 767px)
      width: 30px
      height: 30px
      right: 16px


    .promo-link,
    .promo-link__outer
      display: inline-block
      overflow: visible
      margin: 0
      padding: 0
      cursor: pointer
      transition-timing-function: linear
      transition-duration: .15s
      transition-property: opacity,filter
      text-transform: none
      color: #000
      border: 0
      background-color: transparent
      z-index: 5

    .promo-link__icon
      background: #fff
      transition-delay: .12s
      transition-timing-function: cubic-bezier(.215,.61,.355,1)
      transform: rotate(45deg)
      transition-duration: 75ms
      top: 50%
      display: block
      margin-top: 0
      position: absolute
      width: 40px
      height: 2px
      transition-property: transform
      border-radius: 4px

      @media (max-width: 767px)
        width: 30px

      @media (max-width: 640px)
        width: 30px

      &:before,
      &:after
        content: ''
        position: absolute
        width: 40px
        height: 2px
        border-radius: 4px
        background-color: #fff

      &:before
        top: 0
        transition: top 75ms ease,opacity 75ms ease .12s
        opacity: 0

      &:after
        bottom: 0
        transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s
        transform: rotate(-90deg)
        background-color: #fff

      @media (max-width: 767px)
        &:before,
        &:after
          width: 30px

      @media (max-width: 640px)
        &:before,
        &:after
          width: 30px
