.hero + .section
  padding-top: 2rem
  +breakpoint(medium)
    padding-top: 4rem
  +breakpoint(large)
    padding-top: 6rem
.section
  position: relative
  padding-bottom: 2rem
  +breakpoint(medium)
    padding-bottom: 4rem
  +breakpoint(large)
    padding-bottom: 6rem
  
  &.section--amenities
    padding-bottom: 0
  &.section--neighborhood
    .grid-container.expanded
      max-width: 1196px
      padding-left: 0
      padding-right: 0 