.alta-carousel 

  h3 
    color: #A59E93
    outline: none
    
    font-size: 48px 
    font-family: $font-serif

  .slick-slide 

    padding-top: 6rem 
    outline: none

    p:first-of-type 
      margin-top: 100px

  .slick-dots 

    top: 60%

    li 
      button
        &:before 
          font-size: 10px
          color: #BA985E
  