.text-and-image
    .box__image
        text-align: center
        margin-bottom: rem-calc(48px)
        +breakpoint( large)
            margin-bottom: 0
    .box__text
        background: white
        position: relative
            
            
        &.offset-text
            +breakpoint(large)
                top: -120px
        .box__text_inner
            max-width: 700px
            padding: 10%
            h3
                color: $bronze
                .promotional-offer &
                    color: white
            p
                .promotional-offer &
                    color: white

.promotional-offer
    .box__text
        background-color: $bronze
        .box__text_inner
            h3, p
                color: white
            .icon
                fill: white !important