.three-column 

  // padding: 150px 0

  // +breakpoint (large down) 
  //   padding: 100px 0

  .expanded 

    .three-column-left

      display: flex
      justify-content: center
      flex-direction: column

      img 
        align-self: center
        margin-bottom: 30px

    .three-column-center 
      display: flex 
      flex-direction: column
      justify-content: flex-end
      padding-top: 40px
      
      +breakpoint( large )
        padding-top: 80px

      // +breakpoint (medium down) 
      //   justify-content: center
      //   padding-top: 0

      img 
        align-self: center
        margin-left: -50px

        +breakpoint (medium down) 
          max-width: 80%
          margin-left: 0

        @media (max-width: 1024px) 
          max-width: 80%

        @media (max-width: 823px) 
          max-width: 80%

        @media (max-width: 768px) 
          max-width: 80%

    .three-column-right 
      display: flex 
      flex-direction: column 
      padding-top: 40px
      //padding: 150px 0
  
      +breakpoint (large) 
        padding-top: 90px
        //padding: 100px 0 0 0

      h3 
        //font-size: rem-calc(60px)
        font-size: rem-calc(34px)
        color: $bronze
        font-weight: 500
        letter-spacing: rem-calc(3px)
        text-transform: uppercase
        +breakpoint( medium )
          margin-left: -36%
        +breakpoint( large )
          font-size: rem-calc(50px)
          
        +breakpoint( xlarge )
          font-size: rem-calc( 60px)
          margin-left: -47%

        // +breakpoint (large down) 
        //   margin-left: -100%

        // +breakpoint (medium down) 
        //   margin-left: -80%
        //   font-size: rem-calc(44px)
        //   letter-spacing: rem-calc(1px)

        // @media (max-width: 823px) 
        //   margin-left: 0
        //   font-size: rem-calc(32px)
          
      p
        +breakpoint( large )
          max-width: 340px

      