.tour-form
  p
    color: $gray
    text-align: left
    font-size: rem-calc(15px) !important
    padding: 1rem 1rem 0.75rem
  +breakpoint( large )
      position: relative
      top: -150px;
      
  .grid-container
    padding-top: 6em
    padding-bottom: 6em
    background-color: #4B4542
    max-width: 1196px
    
    +breakpoint (medium down) 
      padding-left: 30px
      padding-right: 30px
  h3 
    color: #BA985E
    font-size: rem-calc(48px)
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 3px
    margin-bottom: rem-calc(50px)

    +breakpoint (medium down) 
      font-size: rem-calc(32px)
      letter-spacing: 2px
      margin-bottom: 30px
     
  .gf_tour_form
    .gform_body
      max-width: none
      .gform_fields 
        display: flex
        justify-content: center
        align-items: baseline
        flex-wrap: wrap
        li
          position: relative
          flex: 0 1 400px
          max-width: none
          margin-right: 16px
          margin-left: 16px
          margin-bottom: 2rem
          
          .ginput_container
            border-bottom: 1px solid $gray
          .gfield_label, .gfield_description
            color: $gray
            font-size: rem-calc( 12px )
            display: block
            text-align: left
          .gfield_label
            position: absolute
            top: 16px
            left: 16px
            opacity: 0
            z-index: -1
            transition: all $easing $speed
            &.show-my-label
              opacity: 1
              z-index: 2
              top: -8px
              left: 0
          &#field_3_10 .gfield_label
            opacity: 1
            z-index: 2
            top: -8px
            left: 0
          input, select
            border-bottom: none
          input:focus::placeholder,select:focus::placeholder
            color: transparent !important
          .clear-multi,.ginput_complex
            display: flex
            align-items: baseline
          .clear-multi div
            flex: 0 1 100px
            margin-right: 10px
            i
              display: none
          .ginput_complex span
            flex: 0 1 50%
            margin-right: 10px
          span.gfield_description
            color: $bronze
            font-style: italic
              
    .gform_footer
      margin-top: 3rem
.ginput_container_time label
  color: $gray
  font-size: rem-calc( 12px )
  display: block
  text-align: left