.filter-items.filter-tours
  justify-content: space-evenly
  align-items: flex-start
  li
    a.mixitup-control-active
      color: $black
      border-bottom: 1px solid $black
.virtual-tour-units
  .video-tour
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center
    background-color: transparent !important;
    .video-tour-item
      flex: 0 1 600px;
      margin-bottom: 3rem;
      padding: 1rem;
      transition: opacity $speed $easing
      &:hover
        opacity: .75
      h4
        font-size: rem-calc(24px)
      
      
      
.tour-popup
  width: 90%
  max-width: 900px
  text-align: center
  margin: auto
  position: relative
  .mfp-close
    color: white
    right: -44px
    &::after
      background-image: none
.iframe-container
  overflow: hidden
  padding-top: 56.25%
  position: relative
  iframe
    border: 0
    height: 100%
    width: 100%
    left: 0
    top: 0
    position: absolute