.footer
  background: #F7F3ED
  padding: 3rem 0
  margin-top: 0
  position: relative
  +breakpoint( large )
    padding: 5rem 0 3rem
  .footer__info 

    +breakpoint (xlarge down) 
      margin-bottom: 30px

p.address,
p.footer__copyright
  font-size: rem-calc(12px)

p.footer__copyright
  margin-top: 8px
  a
    text-decoration: underline
  
.wood-logos
  margin: 2rem 0
  img
    display: inline-block
    vertical-align: middle
    margin: 0 8px
  .wood-logo
    width: 128px
  .pet-logo
    width: 43px
  .fair-logo
    width: 26px
  .access-logo
    width: 16px;


.covid-disclosure
  margin-top: 1rem
  p
    font-size: 12px


#text-us, #text-us:link, #text-us:visited
  transition: all 0.2s ease
  background: $bronze !important
  font: 600 16px/36px $font-sans !important
  right: -2.5em !important
  top: 50% !important
  box-shadow: none
  &:hover
    background: $red !important
    right: -1.9em  !important
    
+breakpoint( medium down )
  .phone__number,
  .copyright,
  .copyright__name,
  .copyright__links
    display: block