.header
  width: 100%
  transition: 2s opacity linear
  border-bottom: 1px solid #fff
  background-color: white
  +breakpoint( large )
    position: absolute
    z-index: 1039
    background-color: transparent
  
  &.fixed-header
    +breakpoint( large )
      position: fixed
      top: 0
      left: 0
      z-index: 1039
      animation: headerEnter .5s
      border-bottom-color: $gray
      background-color: white
      
      .is-open &
        display: none
  
  &.cloned
    border-bottom-color: $gray
    background-color: white
    
  &:before
    width: 100%
    height: 100% 
    position: absolute
    background: $gray
    opacity: 0

    &.bg-beige 
      opacity: 1

  

  .grid-container 
    .grid-x
      position: relative
      top: 0
      
      height: 100px
      padding: 0
      z-index: 9999
      
      +breakpoint( xlarge )
        height: 100px
        width: 100%

      +breakpoint (medium down) 
        border: 0

      .header-logo
        display: flex
        align-items: center
        
        //border-left: 1px solid #fff 
        //border-right: 1px solid #fff

        +breakpoint (large) 
          justify-content: center

        img 
          
          height: 30px
          &.logo
            display: none
            +breakpoint( large )
              display: block
          
          &.logo-gold
            display: block
            +breakpoint( large ) 
              display: none
          
          +breakpoint (large) 
            height: 50px
            max-width: none 

      .header-logo,
      .header-left,
      .header-right 
        height: 100%
      .header-left
        display: none
        +breakpoint( large )
          display: block
      .header-right 
        display: flex
        justify-content: flex-end
        align-items: center
        text-align: right
        .header-right-links a
          //font-size: rem-calc(14px)
          color: $light-black
          display: inline-block
          vertical-align: middle
          margin-right: 1.5rem
          text-transform: uppercase
          text-decoration: none
          +breakpoint( large )
            color: white
          

        .menu-expanded-navigation-hamburger-container

          height: 100%

          +breakpoint (medium down) 
            width: 100%

          ul 

            height: 100%
            text-align: center
            list-style: none 

            li 
              height: 100%

              a 
                height: 100%
                line-height: 70px
                padding: 0 70px
                color: #fff
                text-decoration: none
                text-transform: uppercase

                +breakpoint (medium down) 
                  padding: 0

.header.cloned 
  .grid-container .grid-x .header-right .header-right-links a
    color: $light-black
  .nav-link__icon,
  .nav-link__icon::before,
  .nav-link__icon::after
    background: $light-black
    
.header.fixed-header
  background: white
  .header-logo img.logo
    display: none !important
  .header-logo img.logo-gold
    display: block !important
  .header-right-links a
    color: $light-black !important
    &:hover
      color: $bronze !important
  .nav-link__icon,
  .nav-link__icon:before,
  .nav-link__icon:after
    background: $light-black
  
  .nav-link:hover
    .nav-link__outer
      .nav-link__icon,
      .nav-link__icon:before,
      .nav-link__icon:after
        background: $bronze
    
    