.border-overlay
  position: relative
  z-index: 5

  &:after
    content: ''
    display: block
    position: absolute
    top: 20px
    left: 20px
    height: 100%
    width: 100%
    background-size: calc(100% - 40px) calc(100% - 40px)
    background-image: url('../assets/images/border-overlay.svg')
    background-repeat: no-repeat
    opacity: 0

    +breakpoint(medium)
      top: 40px
      left: 40px
      background-size: calc(100% - 80px) calc(100% - 80px)

  &.aos-animate:after
    animation-name: fadeIn
    animation-duration: 1s
    animation-delay: 1s
    animation-fill-mode: forwards
    animation-timing-function: $easing
