.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 0.95em 3em 0.7em
  border-top: 2px solid transparent
  border-left: 0
  border-right: 0
  border-bottom: 1px solid #A59E93
  border-radius: 0
  background: transparent
  color: #A59E93
  font-size: 15px
  font-weight: 400
  text-decoration: none
  text-transform: capitalize
  transition: color 0.3s $easing, background 0.3s $easing

  &.button__small 
    width: 200px
    padding-left: 0
    padding-right: 0

  +breakpoint(medium)
    font-size: 16px

  &:hover
    
    color: white

  .icon
    margin-left: .75em

.hero__link 
  &.view-gallery
    
    margin-left: 30px

    +breakpoint (small only) 
      margin-left: 0
      margin-bottom: 10px
      margin-top: 0

.hero__link 
  &.email-me 
  
    +breakpoint (small only) 
      margin-bottom: 10px
      margin-top: 0
