.ui-datepicker-title select
  width: auto !important

.contact-section
  h2 
    font-weight: 500

.contact-form

  .contact-title 
    color: #a07400
    font-weight: 600
    letter-spacing: 1px 

  .container 

    @include breakpoint (small only)
      padding-left: 0
      padding-right: 0

    .col-sm-12
      @include breakpoint (small only)
        padding-left: 0
        padding-right: 0

  .section-title
    position: absolute
    transform: translateY(-110%)
    font-size: 130px
    line-height: 130px
    color: #fff
    font-weight: 500

    @include breakpoint (small only)
      display: none

  .section-title-mobile 
    display: none
    
    @include breakpoint (small only) 
      display: block
      transform: translateY(-50%);
      font-size: 110px;
      color: #fff
      line-height: 110px;
      font-weight: 500

  h6 
      font-size: 16px 
      color: #fff
      font-family: brandon-grotesque, sans-serif;
      text-transform: uppercase
      letter-spacing: 2px

      @include breakpoint (medium down)
        font-size: 14px
  
  .textbox-right
    padding-left: 50px
    
    .textbox 
      min-width: 640px
      background: #fff
      padding: 60px
      box-shadow: none

      @media (max-width: 1440px) 
        min-width: 0

      @include breakpoint (large down) 
        min-width: 0
      
      @include breakpoint (small only)
        padding: 40px

      h6 
        font-family: brandon-grotesque,sans-serif
        font-size: 16px
        color: #a07400
        text-transform: uppercase
        letter-spacing: 2px

      p 
        font-size: 20px

  .gform_wrapper 
  .gform_footer 
    input.button
      text-align: center

      &:focus 
        outline: 0

      @include breakpoint (medium down)
        font-size: 24px

      @include breakpoint (small only)
        padding: 10px 40px 5px;
        font-size: 24px

  .gform_wrapper 
  .hidden_label 
    input.large
      border: 0
      border-bottom: 2px solid #000000

      &:focus
        outline: 0

  .gform_wrapper 
  .top_label 
    input.large,
    input.medium,
    select
      min-width: 300px !important
      border: 0
      border-radius: 0 !important
      background-color: #e6e3e0 !important
      padding-left: 20px !important
      height: 45px

      &:focus
        outline: 0

  .gform_wrapper 
  .top_label 
    select 
      .gf_placeholder 
        margin-left: 20px

  .gform_wrapper
  .top_label
    select 
      color: #666
      font-size: 14px
      padding-left: 20px !important
      -webkit-appearance: none !important

  .gform_wrapper 
  div.validation_error
    font-size: 1em
    font-weight: 700
    margin-bottom: 25px
    border-top: 2px solid #fff
    border-bottom: 2px solid #fff
    padding: 16px 0
    clear: both
    width: 100%
    line-height: 24px
    background-color: #a17338
    color: #fff
    padding: 20px

  .gform_wrapper 
  .validation_message
    padding: 0
    font-size: 12px !important
    color: #504f4f !important
    padding: 0 5px !important
    background-color: #f7f3ed
    border-top: 0

  .gform_wrapper 
  li.gfield.gfield_error
    background-color: #BA996E
    border-top: 1px solid #C89797
    padding-bottom: 6px
    padding-top: 8px
    box-sizing: border-box

  .gform_wrapper
  li.gfield.gfield_error
    input.large
      border-bottom: 0

  .gform_wrapper 
  li.gfield.gfield_error.gfield_contains_required
    padding-left: 16px
    padding-right: 16px

  .gform_wrapper label.gfield_label
    font-weight: normal

  ::-webkit-input-placeholder
    font-size: 14px
    font-weight: 500
    color: #A59E93
    //visibility: hidden
  
  ::-moz-placeholder
    font-size: 14px
    font-weight: 500
    color: #A59E93
    //visibility: hidden
  
  :-ms-input-placeholder
    font-size: 14px
    font-weight: 500
    color: #A59E93
    //visibility: hidden
  
  :-moz-placeholder
    font-size: 14px
    font-weight: 500
    color: #A59E93
    

  


#contact 
  
  padding-top: 0
  padding-bottom: 0

  .grid-container
    padding-top: 6em
    padding-bottom: 6em
    background-color: #4B4542
    
    +breakpoint (medium down) 
      padding-left: 30px
      padding-right: 30px

  h3 
    color: #BA985E
    font-size: 48px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 3px
    margin-bottom: 105px

    +breakpoint (medium down) 
      font-size: 32px
      letter-spacing: 2px
      margin-bottom: 30px

  .input-placeholder 
    transition: .5s all ease-in-out
    animation: fadeIn .5s ease-in-out
    color: #fff

@keyframes fadeIn
  0% 
    opacity: 0 
  100% 
    opacity: 1
  