.form .gform_wrapper

  .gform_body
    
    +breakpoint (medium down) 
      width: 100%

  .input-placeholder 
    position: absolute
    top: -20%
    transform: translateY(-50%)
    color: #a59e93

  .gfield_label
    font-weight: 400 !important

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea
    padding: 1rem 1rem 0.75rem !important
    border: none
    border-radius: 0
    background: transparent
    color: #A59E93
    font-family: $font-sans
    font-size: 15px !important
    font-weight: 400 !important
    outline: 0
    box-shadow: none
    border-bottom: 1px solid #A59E93

  // Error Handling

  .gfield_error
    padding: 0 !important
    border-top: none !important
    border-bottom: none !important
    margin-top: 0 !important
    margin-bottom: 0 !important
    background-color: transparent !important

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    textarea
      background-color: transparent !important

  .gfield_required
    display: none

  .validation_error
    display: none 

.gform_wrapper 
  .field_description_below 
    .gfield_description 
      padding-top: 0 !important

#field_1_3
  #validation_message_1_3
    display: none

.gform_wrapper 
  li.gfield.gfield_error.gf_inline
    padding-right: 1em !important

.gform_ajax_spinner
  display: none !important

.gform_wrapper 
  .gfield_error 
    input[type="text"]
      border-left: 0 !important
      border-right: 0 !important
      border-top: 0 !important
      border-bottom: 1px solid #a59e93 !important

.gform_wrapper li.hidden_label input 
  margin-top: 0 !important

.gform_wrapper form.gf_simple_horizontal
  display: flex
  justify-content: center
  align-items: center

  +breakpoint (medium down) 
    flex-direction: column

// Confirmation
.form
  .gform_confirmation_message
    padding: 2rem
    border-radius: 4px
    margin-top: 2rem
    background: $light-gray
    color: $primary
    font-size: 18px
    font-weight: 400
    text-align: center

    +breakpoint(medium)
      font-size: 21px

    +breakpoint(large)
      margin-top: 0
      font-size: 24px

  // Aggressive overrides
  .gform_wrapper li.gfield.gfield_error
    background: transparent !important
    margin-bottom: 1rem !important

    +breakpoint(medium)
      margin-bottom: 2rem !important


