#hero 
  padding-top: 0
  padding-bottom: 0
  
.hero
  position: relative

.hero-content
  position: absolute
  top: 60%
  left: 50%
  z-index: 10
  transform: translate(-50%, -50%)
  width: 100%
  text-align: center

.hero-title
  color: white
  font-size: 80px
  margin-bottom: 40px
  line-height: 1
  letter-spacing: 4px 

  +breakpoint (large down) 
    font-size: 60px

  +breakpoint (medium down) 
    font-size: 44px
    margin-bottom: 10px
    letter-spacing: 2px

  +breakpoint (small only) 
    margin-bottom: 20px
    font-size: 18px

.hero-subtitle 
  font-family: $font-serif
  color: white 
  font-size: 18px 
  text-transform: uppercase
  letter-spacing: 3px

  +breakpoint (medium down) 
    letter-spacing: 2px

.hero__link
  display: inline-block
  margin-top: 2rem
  background-color: #A53A24
  color: #fff
  border: 0

.hero-image
  width: 100%
