section
  &.section 
    &.image-carousel 
      padding-top: 40px
      padding-bottom: 40px
  
.slick-slide
  margin: 0 20px
  height: auto !important

.slick-list
  margin: 0 -20px

  .slick-track 
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch

.slick-nav
  width: 100%
  position: absolute
  top: 50%
  transform: translateY(-50%)

.slick-nav
  .prev,
  .next
      width: 60px
      height: 45px
      background: #b56d41
      color: #ffffff
      font-size: 24px
      text-align: center
      line-height: 45px
      cursor: pointer

.slick-nav
  .prev 
    left: 1%
    position: absolute

.slick-nav 
  .next 
    right: 1%
    position: absolute