.image-grid
  background-color: #504f4f
  .grid-x
    .cell 
      .gallery-grid
        list-style: none
        width: 100%
        display: flex
        flex-wrap: wrap
        padding: 0 20px

        li 
          display: flex;
          flex-direction: column;
          width: 47%
          height: 425px
          background-size: cover
          background-repeat: no-repeat
          margin: 0 1.5% 40px 1.5%

          +breakpoint (medium down)
            height: 300px

          +breakpoint (small only)
            height: 150px

          