.nav-link
  display: none
  position: absolute
  top: 50%
  left: 5%
  z-index: 9999
  overflow: hidden
  transform: translateY(-50%)

  +breakpoint (medium down) 
    display: none

.nav-link__outer
  position: relative
  width: 24px
  height: 20px

.nav-link__icon
  position: absolute
  top: 50%
  margin-top: -1px
  width: 100%
  height: 2px
  border-radius: 2px
  background: $gray
  background: $white
  transform-style: preserve-3d
  transition: all 0.5s ease-out-cubic

  .is-open &
    background: transparent
    transition: all 0.4s ease-out-cubic

  &:before
    content: ''
    display: block
    position: absolute
    top: -7px
    height: 2px
    border-radius: 2px
    width: 100%
    background: $gray
    background: $white
    transform-style: preserve-3d
    transform: translateY(0) rotate(0)
    transition: all 0.5s ease-out-cubic

    .is-open &
      transform: translateY(7px) rotate(45deg)
      transition: all 0.4s ease-out-cubic 0.1s

  &:after
    content: ''
    display: block
    position: absolute
    bottom: -7px
    height: 2px
    border-radius: 2px
    width: 100%
    background: $gray
    background: $white
    transform-style: preserve-3d
    transform: translateY(0) rotate(0)
    transition: all 0.5s ease-out-cubic

    .is-open &
      transform: translateY(-7px) rotate(-45deg)
      transition: all 0.4s ease-out-cubic 0.1s

