.section
  position: relative
  padding-top: 3rem
  padding-bottom: 3rem

  +breakpoint(medium)
    padding-top: 6rem
    padding-bottom: 6rem

  +breakpoint(large)
    padding-top: 6rem
    padding-bottom: 6rem
