.three-column 

  padding: 150px 0

  +breakpoint (large down) 
    padding: 100px 0

  .expanded 

    padding: 150px 0

    +breakpoint (large down) 
      padding: 0 50px

    .three-column-left

      display: flex
      justify-content: center
      flex-direction: column

      img 
        align-self: center
        margin-bottom: 30px

    .three-column-center 
      display: flex 
      flex-direction: column
      justify-content: flex-end
      padding-top: 120px

      +breakpoint (medium down) 
        justify-content: center
        padding-top: 0

      img 
        align-self: center
        margin-left: -50px

        +breakpoint (medium down) 
          max-width: 80%
          margin-left: 0

        @media (max-width: 1024px) 
          max-width: 80%

        @media (max-width: 823px) 
          max-width: 80%

        @media (max-width: 768px) 
          max-width: 80%

    .three-column-right 
      display: flex 
      flex-direction: column 
      padding: 150px 5% 0 5%

      +breakpoint (medium down) 
        padding: 100px 0 0 0

      h3 
        font-size: 60px
        color: #BA985E
        font-weight: 500
        letter-spacing: 3px
        text-transform: uppercase
        margin-left: -80%

        +breakpoint (large down) 
          margin-left: -100%

        +breakpoint (medium down) 
          margin-left: -80%
          font-size: 44px
          letter-spacing: 1px

        @media (max-width: 823px) 
          margin-left: 0
          font-size: 32px

      